.promo{
    background-color: #073042;
    padding: 75px 70px 85px 70px;
    font-family: Inter;
    color:  #FFFFFF;
}

@media screen and (max-width:768px) {
    .promo {
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        padding-bottom: 77px;
        padding: 143px 10% 77px 10%;
    }
}

@media screen and (max-width:320px) {
    .promo {
        padding: 60px 10px 30px 10px;
    }
}