.auth{
    max-width: 396px;
    margin: auto;
    padding-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
@media screen and (max-width:768px) {
    .auth {
        padding-top: 232px;
    }
}
@media screen and (max-width:320px) {
    .auth {
        padding-top: 56px;
        align-items: center;
        width: 81.25%;
    }
}
