.search__button{
    background-color: #4285F4;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;
    background-image:  url(../../../images/arrow_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.search__button:hover{
    cursor: pointer;
}

@media screen and (max-width:320px) {
    .search__button {
        margin-top: -2px;
    }
}
