.aboutProject__description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap:26px 40px;
    justify-content: baseline;
}