.aboutProject__description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap:26px 40px;
    justify-content: baseline;
}
@media screen and (max-width:768px) {
    .aboutProject__description {
        gap:23px 26px;
    }
}

@media screen and (max-width:460px) {
    .aboutProject__description {
        gap:15px;
    }
}