.profile__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin: 74px auto 124px auto;
}

@media screen and (min-width:768px) {
    .profile__title {
        margin-top: 236px;
        margin-bottom: 96px;
    }
}

@media screen and (min-width:320px) {
    .profile__title {
        margin-top: 58px;
        margin-bottom: 82px;
    }
}