.auth__link {
    color: #4285F4;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width:320px) {
    .auth__link {
        font-size: 12px;
        line-height: 15px;
    }
}