.page404__heading {
    font-size: 140px;
    line-height: 169px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 19.21%;
    margin-bottom: 5px;
}

@media screen and (max-width:768px) {
    .page404__heading {
        margin-top: 53%;
        font-family: Inter;

    }
}