.auth__route{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 16px auto 0 auto;
    gap: 6px;
}
@media screen and (max-width:320px) {
    .auth__route {
        margin-top: 14px;
    }
}