.auth__input {
    background-color: #2F2F2F;
    height: 46px;
    border: none;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}